* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #227ea3;
  background-color: #0b3466;
}

a {
  text-decoration: none;
  color: #227ea3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #2cb3c5;
}

button {
  background-color: #227ea3;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background-color:  #2cb3c5;
}

.post-list {
  margin: 0;
  padding: 5px;
  
}

textarea, input {
  padding: .5%;
  border-radius: 15px;
  border: 2px solid #041222;
 outline: none;
}

textarea:focus, input:focus {
  outline: none;
  border: 2px solid #ffffff;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
  color: #fff;
}

form label {
  display: block;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 23px;
  border-bottom: 8px solid #041222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #227ea3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color:  #2cb3c5;
}

.delete-post-btn {
  background-color: #f3c600;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #a63eb4;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  color: #fff;
  background-color: #4d0d6d;
  border-radius: 15px;
 
}

.comment:nth-child(odd) {
  background-color: #185568da;
  border-radius: 15px;
}

.comment .meta {
  font-weight: bolder;
  color:  #fff;
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .8;
 
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}
::marker {
  text-decoration: none;
}

footer {
border-top: 8px solid #041222;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: larger;
  font-weight: bold;
  font-style: italic;

}